{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}




    <h1>Liste des villes participantes : {{ cities | length }}
    </h1>


    <div class="row row-cols-1 row-cols-md-4">
        {% for city  in cities  %}
            <div class="col mb-4">

                <div class="card">

                    <img src="{{ asset('uploads/cities/'~ city.picture) }}" class="card-img-top" alt="Laval">

                    <div class="card-body">


                        <h5 class="card-title">{{ city.name }}</h5>

                            <a href="{{ path('city_show',{"id": city.id} )}}" class="btn btn-primary">
                                <i class="fa fa-eye"></i>
                                Voir les projets
                            </a>


                    </div>
                    <div class="card-footer">
                    <span class="badge badge-pill badge-primary" title="Projets">
                        <i class="fa fa-lightbulb-o"></i>
                       Projets : {{ city.projects | length }}
                    </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}