{% extends 'base.html.twig' %}

{% block title %}City{% endblock %}

{% block body %}

    <h1>Projets : {{ city.projects | length }}</h1>
    <div class="row row-cols-1 row-cols-md-3">
        {% for project in city.projects %}
            {{ include('default/_card.html.twig') }}
        {% endfor %}
    </div>

    <a href="{{ path('city_index') }}">back to list</a>

    <a href="{{ path('city_edit', {'id': city.id}) }}">edit</a>

    {{ include('city/_delete_form.html.twig') }}
{% endblock %}
